@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  hyphens: auto;
}
body{
  font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* BANNER */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 40rem;
}
.mainTitle{
    font-size: 90px;
    color: beige;
}
.seconTitle{
    font-size: 30px;
    color:rgb(49, 190, 148);
}
/* FIRST SECTION */
.mainBox{
    display: flex;
    width: 100%;
    height: 35rem;
}
.firstBox{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}
.textPresentation{
    width: 35rem;
    height: auto;
    font-size: 18px;
    text-align: justify;
}
.photobox{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img-presentacion{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
/* SECON SECTION */
.mainBoxTwo{
    width: 100%;
    height: 25rem;
    background-color: rgb(39, 39, 39);
}
.seconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.skillsBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 33.33%;
    height: 20rem;
    color: beige;
    gap: 1rem;
}
.skillsTitle{
    font-size: 25px;
    text-align: center;
}
.skillsText{
    width: 20rem;
    height: 3rem;
    font-size: 15px;
    text-align: justify;
}
.icon-container{
    display: flex;
    justify-content: center;

    width: 8rem;
    height: 4rem;
}
.fa-solid{
  font-size: 50px;
  color:rgb(49, 190, 148);
}
.skillLink{
    text-decoration: none;
    color: beige;;
}
.skillLink:hover{
    background-color:rgb(49, 190, 148);
}
.fa-regular{
    color: antiquewhite;
}
.read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: beige;;
}
/* THIR SECTION */
.titleDev{
    font-size: 30px;
}
.skillsDev{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.devBox{
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 8px rgb(199, 211, 207);
    border-radius: 10px;
    height: 4rem;
    width: 13rem;
}
.devBox:hover{
   color: rgb(10, 173, 154);
}
/* FOUR SECCTION */
.main-box-four{
    display: flex;
    width: 100%;
    height: 25rem;

}
.four-title-box{
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
  }
.four-title{
    padding: 1rem;
    font-size: 35px;
}
.four-box{
    display: flex;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/c5/e2/dc/c5e2dc63db1c67c0ec5f695dbbcd9096.png");
    background-repeat: no-repeat;
    background-size:cover;
    color: beige;
    width: 100%;
    gap: 1rem;
}
.four-container{
    display: flex;
    width: 100%;
    height: 15rem;
}
.fourSkills{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
}
.four-inside-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.img-skills{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}
.inside{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-flow: column wrap;
    width: 20%;
}
/* QUINTA SECCION */
.fiveTitleBox{
    display: flex;
    background-color: rgb(39, 39, 39);
    justify-content: center;
    color: beige;
    padding: 1rem;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(39, 39, 39);
}
.experiencia{
    width: 5rem;
    height: 3rem;
    color: beige;
    font-size: 20px;
    text-align: center;
    z-index: -1;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #363636;
  color: beige;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content h4 {
    font-weight: 500;
    font-size: 13px;
  }
.timeline-content p {
  font-size: 12px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
