@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
/* BANNER */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18191E;
    width: 100%;
    height: 35rem;
}
.mainTitle{
    font-size: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
}
.seconTitle{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(49, 190, 148);
}
/* FIRST SECTION */
.mainBox{
    display: flex;
    width: 100%;
    height: 37rem;
}
.firstBox{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.textPresentation{
    width: 28rem;
    height: auto;
    font-size: 20px;
    text-align: justify;
    padding: 1rem;
}
.photobox{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
}
.imgPresentacion{
    width: 300px;
    height: 300px;
    border-radius: 50rem;
    padding: 1rem;
}
/* titles first section */
.titleName{
    font-size: 35px;
    color: rgb(49, 190, 148);
    font-family:"Roboto Slab";
}
.titleEge{
    font-size: 25px;
    text-align: center;
    padding: 1rem;
}
/* SECON SECTION */
.mainBoxTwo{
    display: flex;
    width: 100%;
    height: 30rem;
}
.seconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.skillsBox{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 33.33%;
    color: beige;
}
.skillsTitle{
    font-size: 25px;
    text-align: center;
    margin: 1rem;
}
.skillsText{
    width: 70%;
    height: 8rem;
    font-size: 20px;
    text-align: justify;
    font-weight: 900;
}
/* THIR SECTION */
.titleDev{
    font-size: 35px;
    padding: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.skillsDev{
    display: flex;
    flex-direction: column;
}
.devBox{
    display: flex;
    align-items: center;
    box-shadow: 7px 3px 3px rgb(161, 190, 182);
    margin: 1rem;
    height: 3rem;
}
.devBox:hover{
    background-color: rgba(174, 214, 209, 0.363);
}
/* FOUR SECCTION */
.mainBoxFour{
    display: flex;
    width: 100%;
    height: 30rem;

}
.fourBox{
    display: flex;
    flex-direction: column;
    background-image: url("https://wc.wallpaperuse.com/wallp/65-653254_s.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: beige;
    width: 100%;
}
.fourTitleBox{
    display: flex;
    width: 100%;
    height: 10rem;
}
.fourSkillsBox{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.fourSkills{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
}
.fourTitle{
    display: flex;
    align-items: center;
    height: 10rem;
    font-size: 50px;
    padding: 1rem;
}
.rightSkillsBox{
    display: flex;
    width: 100%;
    height: 15rem;
}
.fourInsideBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inside{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 20%;
}
/* QUINTA SECCION */
.fiveTitleBox{
    display: flex;
    background-color: #111;
    justify-content: center;
    color: aliceblue;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: #111;
}
.experiencia{
    width: 5rem;
    height: 3rem;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
  }
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

